header
	div.header-container
		div.logo-area
			img#logo-img(src="images/logo.png")
			a.web-name(href="./") ViVi视频
		nav.header-nav
			ul.nav-ul
				li
					a.header-link(href="./courselist") 课程
				li
					a.header-link(href="./enroll") 模拟电网报名
				li
					a.header-link(href="./enroll") 模拟电网考试 
		if (login)
			ul.login-ul
				li
					a.to-message(href="./userchat")
				li
					img#up-img(src="images/uimages/default5.jpg")
		else
			a.to-login(href="./userlogin") 登录