header
	div.header-container
		div.logo-area
			img#logo-img(src="images/logo.png")
			span.web-name ViVi视频
			a.to-home(href="http://www.lsgogroup.com", target="_blank")
		nav.header-nav
			ul.nav-ul
				li
					a.header-link(href="/courselist") 课程
				li
					a.header-link(href="/enroll") 模拟电网报名
				li
					a.header-link(href="/enroll") 模拟电网考试 