header
	div.header-container
		div.logo-area
			img#logo-img(src="images/logo.png")
			a.web-name(href="./") ViVi视频
		nav.header-nav
			ul.nav-ul
				li
					a.header-link(href="./courselist") 课程
				li
					a.header-link(href="./enroll") 模拟电网报名
				li
					a.header-link(href="./enroll") 模拟电网考试 
		if (login)
			a.to-login(href="./login") 已经登录
		else
			a.to-login(href="./login") 登录