doctype html
html
	head
		meta(name="description", content="视频学习网站")
		meta(name="author", content="zp1996")
		meta(charset="utf-8")
		link(rel="shortcut icon", type="image/x-icon", href="favicon.ico")
		link(rel="stylesheet", type="text/css", href="css/main.min.css")
		title #{title}vivi视频
	body
		if (need)
			include mask
		// header start
		include header
		// header end
		div.main
			block content
		// footer start
		include footer
		// footer end
		script(type="text/javascript", src="js/vendor.js")
		if (js)
			- for (var i = 0; i < js.length; i++)
				script(type="text/javascript", src="js/#{js[i]}")