@import "./util"; 
@charset "utf-8";
@hh: 60px;
@fh: 40px;

html,body{
	height: 100%;
}

header{
	.size(100%, 60px);
	background: #2c2a2e;
	min-width: 1000px;
}
.header-container{
	.width();
	.auto();
	height: @hh;
	line-height: @hh;
	position: relative;
}
.logo-area{
	cursor: pointer;
	position: absolute;
	top: 0px;
}
#logo-img{
	width: 53px;
	height: 67px;
}
.to-home{
	display: inline-block;
	.size(@hh, @hh);
}
.header-nav{
	position: absolute;
	left: 200px;
}
.nav-ul{
	li {
		float: left;
		padding: 0 35px;
	}
}
.header-link{
	color: #B5BDC0; 
}
.header-link:hover{
	color: #fff;
}
.web-name{
	display: inline-block;
	height: 60px;
	vertical-align: top;
	margin-left: -10px;
	color: #B5BDC0;
	font-size: 24px;
}
@fc: rgb(201, 57, 74);
.to-login{
	@h: 33px;
	.size(84px, @h);
	.tc();
	color: @fc;
	line-height: @h;
	float: right;
	margin: (@hh - @h) / 2 20px 0 0;
	border: 2px solid @fc;
	border-radius: 15px;
}
.to-login:hover{
	background: @fc;
	color: #fff;
}
.login-ul{
	list-style-type: none;
	float: right;
	cursor: pointer;
	margin-right: 20px;
}
.login-ul{
	li{
		float: left;
		width: @hh;
		height: @hh;
		text-align: center;
		img{
			vertical-align: middle;
		}
	}
	li:hover{
		background: #485053;
	}
}
#up-img{
	@uh: 40px;
	.size(@uh, @uh);
	border-radius: @uh / 2;
	border: 2px solid #adb0b1;
}
.to-message{
	display: inline-block;
	.size(100%, 100%);
	background: url("../images/icon_msg.png") no-repeat center center;
}

.main{
	.auto();
	min-height: calc(~"100% - @{hh}");
	margin-bottom: -@fh;
}
.main::after{
	content: "";
	display: block;
	height: @fh;
}

footer{
	height: @fh;
	text-align: center;
	color: #aaa;
	font-size: 13px;
	line-height: @fh;
}
.author{
	color: #aaa;
	text-decoration: none;
}
.author:hover{
	text-decoration: underline;
}