mixin slide(url, show)
	if show
		li#slide-active
			img.slide-img(data-loaded="1", src="#{url}")
	else
		li ViVi视频		
			img.slide-img(data-url="#{url}", data-loaded="0") 
extend ../layouts/layout
block content
	div.slider-box
		ol.propagate
			+slide("images/slider-one.jpg", 1)
			+slide("images/slider-two.jpg", 0)
			+slide("images/slider-three.jpg", 0)
		div.description-box
			div.description-bg
				h3 换一种方式
				h2 让你更方便学习
				h4 超酷的电网考试在线学习平台
				a#enter-in(href="/courselist") 进入
			div.dot-box
				span#dot-active(data-index="0")
				span(data-index="1")
				span(data-index="2")