extend ../layouts/layout
block content
	div.login-container
		div.login-wrapper
			div.rl-header
				h1.login-in 登录
			from
				div.rlf-group
					input.rlf-input#email(type="text", placeholder="请输入登录邮箱")
					p.attention
				div.rlf-group
					input.rlf-input#password(type="password", placeholder="请输入密码")
					p.attention
				div.rlf-group.rl-options
					input#auto-login(type="checkbox" checked) 
					label.al-label 自动登录
					a.forget-pw(href="javascript: void(0);") 忘记密码？
				div.rlf-group.btns
					a#sign-up.rlf-btn(href="./singup") 立即注册
					button#sign-in.rlf-btn 登录